html {
  height: 100%;
}

body {
  min-height: 100%;
  height: 100%;
  margin: 0;
  background-color: gray;
}

#controls {
  position: fixed;
  right: 0;
  z-index: 100000;
}

.debug {
  line-height: 0px;
  font-size: 10px;
}

.debug:hover {
  background-color: white;
}
